body{
    background: -webkit-linear-gradient(top, rgba(122,122,122,1) 10%, rgba(135,135,135,1) 14%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 94%, rgba(237,237,237,1) 100%);
}
.navbar{
    background-color: #ffffff;
    font-size: 25px;
}
.service{
    margin-top: 70px;
}
.single_item{
    margin-bottom: 85px;
    background-color:#ffffff;
    position: relative;
    text-align: center;
    box-shadow: 0px 10px 5px 0px rgba(97,90,97,1);
}
.icon{
    position: absolute;
    top:-50px;
    left: 26%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color:#ffffff;
    padding: 4px 13px;
    color:#08C5D3;
    size: 29px;
    font-size: 64px;
    border-radius: 50px;
    box-shadow: 0px 10px 5px 0px rgba(97,90,97,1);
    transition:800ms;

}
.single_item:hover .icon{
    transform: rotate(360deg);
}
.content{
    padding-top:75px;
    padding-bottom: 20px;
    visibility: hidden;
}
.single_item:hover .content{
    visibility: visible;
}
.content h1{
    font-size: 30px;
    text-transform: uppercase;

}
.content p{

}
.content a{
    padding: 5px 50px;
    background-color: rgb(251 249 247);
    border: 1px solid grey;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color:#08C5D3;


}